header {
	margin-bottom: 15px;
}
header img {
	margin-right: 25px;
}
header h2 {
	vertical-align: top;
	line-height: 3.3em;
	display: inline;
}
table {
	width: 100%;
}
table thead th, table tbody td {
	text-align: left;
}
a {
	text-decoration: none;
	color: #41B7D8;
}
a:active {
	color: #FFF;
	background-color: orange;
}
a.active{
	color: orange;
}
a.active:active {
	color: #FFF;
}
.ember-application {
    margin: 20px auto;
    width: 55%;
}
.nav p {
	display: inline-block;
	padding-right: 20px;
	margin: 10px 0;
}
