<h1 class="title">Social Connect</h1>
<p class="subtitle">Welcome!</p>
<a href="/auth/instagram/" class="button is-primary">
  <span class="icon">
    <i class="fab fa-instagram"></i>
  </span>
  <span>Sign In with Instagram</span>
</a>